<%= simple_form_for(@restaurant) do |f| %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :category,  collection: ["Indian", "Chinese", "Japanese", "English", "French", "Italian", "Chech", "Thai", "Greek"]%>
    </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
